.favy {
    font-size: 17px;
    font-family: monospace;
    position: relative;
    width: 750px;
    height: 125px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 0.5px 0.5px 1px black;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: 1px solid #bebebe;
    &:hover {
        box-shadow: 4px 4px 7px gray, -4px 4px 7px gray;
    }
    >span {
    	 display: block;
         font-weight: 100;
  		 margin-bottom: 3px;
         a{
            color: #ffffff;
            text-decoration: none;
            &:hover {
                color: gray;
            }
         }
         span {
                cursor: pointer;
            }
         &.rating {
            border: 1px solid #2f1e9e;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            text-align: center;
            padding-top: 8px;
            background-color: #ffffff;
            position: absolute;
            top: 10px;
            right: 10px;
            box-shadow: 1px 1px 2px lightgrey;
            color: #2f49d7;
         }
    }
    >img {
        position: absolute;
        display: block;
        width: 45px;
        bottom: 5px;
        right: 9px;
     }
    div {
        &.more {
            position: absolute;
            left: 1px;
            bottom: 12px;
            padding: 0;
            cursor: pointer;
            width: 20px;
            height: 20px;
            img {
                display: block;
                width: 100%;
                cursor: pointer;
                margin-left: 6px;
                position: absolute;
                bottom: -7px;
                &:hover {
                    width: 120%;
                }
            }  
        }
        &.trash {
            position: absolute;
            right: 15px;
            bottom: 17px;
            padding: 0;
            cursor: pointer;
            width: 30px;
            height: 30px;
            img {
                width: 100%;
                cursor: pointer;
                &:hover {
                    width: 120%;
                }
            }  
        }
    }
}